<div class="meme">
	<link href="/meme/meme.css" rel="stylesheet" type="text/css">

	<form class="card create" ng-show="{{isCreating}}">
		<div class="dragDrop" drop-here ng-show="{{!image}}">
			Drag &amp; drop<br/> image here
		</div>

		<img ng-show="{{image}}" href="{{image.url}}"/>
		<!--
		<br> or enter <input type="text" id="remoteImageUrl" class="remoteImageUrl" placeholder=" remote image URL">
		<br> or click on any meme.
		-->

		<input type="file" name="file"
		       class="ng-hide"
		       ng-model="file"
		       ng-change="fileChanged"/>
		<input type="hidden" name="blobKey" ng-model="blobKey"/>

		<!--
		<div class="imageWithUpload">
			<div id="preview" class="preview"></div>
			<div id="uploadHelperText" class="uploadHelperText">
				<a id="uploadLink" href="#">Upload</a> new image,<br/>
				or enter <input type="text" id="remoteImageUrl" class="remoteImageUrl" placeholder=" remote image URL"><br/>
				or click on any meme.
			</div>
			<input id="uploadFile" class="uploadFile" type="file">
			<br/>
		</div>
		-->

		<div class="controls" ng-show="{{!isCreating}}">
			<button id="submit">Done</button>
			<button id="cancel">Cancel</button>
		</div>
	</form>

	<div class="card savedmeme" ng-repeat="meme in memes">
		<img ng-src="{{meme.url}}"/>
	</div>
<div>
