<!DOCTYPE html>

<!-- Author: Dzmitry Lazerka -->

<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Memegen</title>

	<link href="/index.css" rel="stylesheet" type="text/css">
	<link href="/meme/meme.css" rel="stylesheet" type="text/css">
	<link href="/compose/compose.css" rel="stylesheet" type="text/css">
	<script type="text/css">
		.ng-cloak {
			visibility: hidden;
		}
	</script>
</head>
<body ng-app="me.lazerka.memegen">
<div class="left card">
	<div class="logo">Memegen</div>
	<div class="nav">
		<div class="entry">
			<button ng-click="$broadcast('nav.create')">Create</button>
		</div>
		<!--
		<div class="entry">
			<a href="/">Recent</a>
		</div>
		<div class="entry">
			<a href="/top">Popular</a>
		</div>
		<div class="entry">
			<a href="/mine">Yours</a>
		</div>
		-->
	</div>
</div>
<div class="right">
	<div class="ng-cloak" ng-controller="MemegenController">

		<form class="card compose ng-cloak"
		      ng-controller="ComposeController"
		      ng-show="meme">

			<div ng-if="!meme.image">
				<div class="dragDrop" drop-here file="meme.image">
					Drag &amp; drop<br/> image here
				</div>

				<div>
					Or <input type="file" my-onchange file="meme.image"/>
				</div>

				<!-- TODO <div>Or <input type="text" class="url" placeholder="Enter URL"></div> -->
			</div>

			<img ng-src="{{meme.image.url}}"
			     ng-if="meme.image"/>

			<div class="controls" ng-show="{{!meme}}">
				<button class="done" ng-click="submit()">Save</button>
				<button class="cancel" ng-click="cancel()">Cancel</button>
			</div>
		</form>

		<div>
			<div class="card savedmeme meme" ng-repeat="meme in memes" >
				<img ng-src="{{meme.image.url}}"/>
				<div class="controls">
					<div class="delete"></div>
				</div>
			</div>
		</div>
	<div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js" defer></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js" defer></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js" defer></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js" defer></script>

<!-- App -->
<script src="/memegen.js" defer></script>

<!-- Common -->
<script src="/js/upload.js" defer></script>

<!-- Modules -->
<script src="/meme/meme.js" defer></script>
<script src="/compose/compose.js" defer></script>


</body>
</html>
