<div class="memes ng-cloak">

	<form class="card compose ng-cloak"
	      ng-controller="ComposeController"
	      ng-show="meme">

		<div ng-if="!meme.image">
			<div class="dragDrop" drop-here>
				Drag &amp; drop<br/> image here

			</div>

			<div>
				<!--<button class="upload" onclick="$(this).next().click();">Upload</button>-->
				Or <input type="file" my-onchange/>
			</div>

			<!-- TODO
			<div>
				Or <input type="text" class="url" placeholder="Enter URL" ng-model="meme.image.url">
			</div>
			-->
		</div>

		<img ng-src="{{meme.image.url}}"
		     ng-if="meme.image"/>

		<div class="controls" ng-show="{{!meme}}">
			<button class="done" ng-click="submit()">Save</button>
			<button class="cancel" ng-click="cancel()">Cancel</button>
		</div>
	</form>

	<div class="card savedmeme meme" ng-repeat="meme in memes">
		<img ng-src="{{meme.image.url}}"/>
	</div>
<div>
