<div class="memes ng-cloak">

	<form class="card compose"
	      ng-controller="ComposeController"
	      ng-show="memegen.isCreatingMeme">

		<div ng-if="!newMeme.blobKey">
			<div class="dragDrop" drop-here>
				Drag &amp; drop<br/> image here

			</div>

			<div>
				<!--<button class="upload" onclick="$(this).next().click();">Upload</button>-->
				Or <input type="file" my-onchange/>
			</div>

			<div>
				Or <input type="text" class="url" placeholder="Enter URL" ng-model="url">
			</div>
		</div>

		<img ng-src="{{newMeme.url}}"
		     ng-if="newMeme.blobKey"/>

		<div class="controls" ng-show="{{!isCreating}}">
			<button class="submit">Done</button>
			<button class="cancel" ng-click="memegen.isCreatingMeme=false">Cancel</button>
		</div>
	</form>

	<div class="card savedmeme meme" ng-repeat="meme in memes">
		<img ng-src="{{meme.url}}"/>
	</div>
<div>
