form.compose {
	margin: 0 0 20px 0;
}

.compose .image {
	/* To position .capture relative to this. */
	position: relative;
}
.compose img {
	width: 500px;
}

.compose .dragDrop {
	border: 3px gray dashed;
	color: #bbb;
	font-size: 36px;
	font-weight: bold;
	padding: 40px 0;
	text-align: center;
	width: 494px;
}

.compose .dragDrop.fileOverMe {
	border: 3px #a1ed2a dashed;
	color: #aaa;
}

.compose .controls {
	text-align: left;
}

.compose .controls button,
.compose .controls input
{
	margin: 10px 10px 0 0;
}

.compose input.caption {
	border: 2px gray dashed;
	background-color: rgba(255,255,255,.2);
	color: #fff;
	display: block;
	font-size: 30px;
	font-family: 'Open Sans Condensed', 'Impact', sans-serif;
	margin: 0 5px;
	/*opacity: 0.3;*/
	position: absolute;
	text-align: center;
	width: 485px;
}
.compose input.caption:focus {
	background-color: transparent;
}

.compose .caption.top {
	top: 20px;
}
.compose .caption.bottom {
	top: 250px;
}

