.compose.form {
	margin: 0 0 20px 0;
}
.compose form.input[type='file'] {
	visibility: hidden;
	position: absolute;
}

.compose img {
	width: 500px;
}

.compose .dragDrop {
	border: 3px gray dashed;
	color: #bbb;
	font-size: 36px;
	font-weight: bold;
	padding: 40px 0;
	text-align: center;
	width: 400px;
}

.compose .dragDrop.fileOverMe {
	border: 3px #a1ed2a dashed;
	color: #aaa;
}

.compose .controls {
	text-align: left;
}

.compose .controls button,
.compose input
{
	margin: 10px 10px 0 0;
}
