<div class="meme ng-cloak" ng-cloak>

	<form class="card create" ng-show="{{isCreating}}" ng-model="creatingMeme">
		<div class="dragDrop" drop-here ng-show="{{!image}}">
			Drag &amp; drop<br/> image here
		</div>

		<img ng-show="{{image}}" href="{{image.url}}"/>
		<!--
		<br> or enter <input type="text" id="remoteImageUrl" class="remoteImageUrl" placeholder=" remote image URL">
		<br> or click on any meme.
		-->

		<input type="hidden" name="blobKey" ng-model="blobKey"/>

		<!--
		<div class="imageWithUpload">
			<div id="preview" class="preview"></div>
			<div id="uploadHelperText" class="uploadHelperText">
				<a id="uploadLink" href="#">Upload</a> new image,<br/>
				or enter <input type="text" id="remoteImageUrl" class="remoteImageUrl" placeholder=" remote image URL"><br/>
				or click on any meme.
			</div>
			<input id="uploadFile" class="uploadFile" type="file">
			<br/>
		</div>
		-->

		<div class="controls" ng-show="{{isCreating}}">
			<div class="control">
				<!--<button class="upload" onclick="$(this).next().click();">Upload</button>-->
				Or <input type="file" my-onchange/>
			</div>

			<div class="control">
				Or <input type="text" class="url" placeholder="enter URL" ng-model="url">
			</div>
		</div>

		<div class="controls" ng-show="{{!isCreating}}">
			<button class="submit">Done</button>
			<button class="cancel">Cancel</button>
		</div>
	</form>

	<div class="card savedmeme" ng-repeat="meme in memes">
		<img ng-src="{{meme.url}}"/>
	</div>
<div>
